force-app/main/default/flows/Add_to_Existing_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Record_to_Update</name>
        <label>Assign Record(s) to Update</label>
        <locationX>138</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Assign_Invoice.Contracts_and_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractsandInvoices.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Records_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_as_Invalid_Record</name>
        <label>Mark as Invalid Record</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InvalidRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usages_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvalidRecordsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usages_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_as_Valid_Record</name>
        <label>Mark as Valid Record</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ValidRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usages_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidRecordsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usages_Records.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usages_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Mark_as_Valid_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Final_Usages_Records.Contracts_and_Invoices__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Usages_Records.Contracts_and_Invoices__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Usages_Records.Contracts_and_Invoices__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Invalid_Record</targetReference>
            </connector>
            <label>Invoice found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>No_Valid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0 Valid Records</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidRecordsCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoices_LookUp_Options</targetReference>
            </connector>
            <label>At least 1 Valid Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ids_Received</name>
        <label>Ids Received</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Add_to_Existing_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Usages</targetReference>
            </connector>
            <label>Yes, process</label>
        </rules>
    </decisions>
    <description>AA 04/12/2024 Flow created. Add existing invoices to Final Usages selected.</description>
    <dynamicChoiceSets>
        <name>Invoice_Options</name>
        <collectionReference>Get_Invoices_LookUp_Options</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contracts_and_Invoices__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add to existing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add to Existing Invoice</label>
    <loops>
        <name>Assign_Invoice</name>
        <label>Assign Invoice</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <collectionReference>ValidRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Final_Usages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Final_Usages_Records</name>
        <label>Final Usages Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Final_Usages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Final_Usages</name>
        <label>Get Final Usages</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Usages_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Final_Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_LookUp_Options</name>
        <label>Get Invoices LookUp Options</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_To_Existing_Invoice_Tables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProjectsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contracts_and_Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Final_Usages</name>
        <label>Update Final Usages</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <inputReference>Records_To_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_to_Existing_Invoice</name>
        <label>Add to Existing Invoice</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaytxt_idsnull</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Flow didn&apos;t receive any IDs, or the IDs are incorrect. Please click &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(6, 0, 199);&quot;&gt;Finish &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;and select valid records before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_To_Existing_Invoice_Tables</name>
        <label>Add to Existing Invoice Tables</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Invoice</targetReference>
        </connector>
        <fields>
            <name>Add_To_Existing_Invoice_Tables_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_To_Existing_Invoice_Tables_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invalid_Invoices_Txt</name>
                    <fieldText>&lt;p&gt;We found some records with related Invoices. &lt;strong&gt;This records will not be processed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Invalid_Records_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Final_Usage__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>InvalidRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2bfa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Final Usage ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-6636&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contracts_and_Invoices_Name__c&quot;,&quot;guid&quot;:&quot;column-0230&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Invoice Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidRecordsCounter</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_To_Existing_Invoice_Tables_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_To_Existing_Invoice_Tables_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valid_Invoices_Txt</name>
                    <fieldText>&lt;p&gt;The following records are good to go. Select an Invoice to relate to these records.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Valid_Records_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Final_Usage__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ValidRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4775&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Final Usage ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-58b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Invoice_To_Relate_Txt</name>
                    <fieldText>&lt;p&gt;Select de invoice to relate to these records.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ContractsandInvoices</name>
                    <choiceReferences>Invoice_Options</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contract and Invoices</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Contracts and Invoices...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>Final Screen</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success! &lt;/strong&gt;The selected Invoice was related to {!ValidRecordsCounter} Final Usage record(s).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Screen</name>
        <label>No Valid Screen</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Records_Txt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;All previously selected records already contain a related Invoice. Please click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Finish&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;, go back and select valid records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ids_Received</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvalidRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>InvalidRecordsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProjectsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Records_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>ValidRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>ValidRecordsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
