force-app/main/default/flows/Assign_Story.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_date_ranges</name>
        <label>Add date ranges</label>
        <locationX>1524</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>dateRanges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DateRanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_date_to_loop</name>
        <label>Add date to loop</label>
        <locationX>1788</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>dateRanges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>datePlusOneDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Date_Ranges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Existing_Story_Schedule</name>
        <label>Add Existing Story Schedule</label>
        <locationX>1612</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>ExistingSSADates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SSA.Schedule__r.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Schedules</name>
        <label>Add New Schedules</label>
        <locationX>1524</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Get_Schedules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Schedule_To_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Story_Associations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Schedule_Date</name>
        <label>Add Schedule Date</label>
        <locationX>1612</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ExistingScheduleDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Schedules.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Schedules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Schedule_To_Create</name>
        <label>Add Schedule To Create</label>
        <locationX>1788</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>scheduleRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DateRanges_Filled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRecord.Bureau__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bureau</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Schedule_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>scheduleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DateRanges_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SSA_to_Create</name>
        <label>Add SSA to Create</label>
        <locationX>2228</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>SSARecord.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SSARecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SSARecord.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Schedules_to_add.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SSARecord.Cost_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Center_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SSAToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SSARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedules_to_add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_false</name>
        <label>Created false</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fill_Schedule</name>
        <label>Fill Schedule</label>
        <locationX>204</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>scheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Schedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Story_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Story_Schedule</name>
        <label>Fill Story Schedule</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>storyScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Story_Schedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_false</name>
        <label>Output false</label>
        <locationX>1392</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Preparing_association</name>
        <label>Preparing association</label>
        <locationX>2052</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>Association.Story_Schedule_Association__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSA_Inserted.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Association.Assignment_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assignment_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Association.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Association.Live_Shot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Shots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Association.Prosumer_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prosumer_Used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Association.Breaking_News__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Breaking_News</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatonstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Association</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedules_Inserted</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DOMESTIC</name>
        <choiceText>DOMESTIC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DOMESTIC</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOREIGN</name>
        <choiceText>FOREIGN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOREIGN</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_TOWN</name>
        <choiceText>IN TOWN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IN TOWN</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Producer_Shooter_with_Technician</name>
        <choiceText>Producer/Shooter with Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Producer/Shooter with Technician</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solo_Producer_Shooter</name>
        <choiceText>Solo Producer/Shooter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solo Producer/Shooter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supporting_Elements</name>
        <choiceText>Supporting Elements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supporting Elements</stringValue>
        </value>
    </choices>
    <choices>
        <name>TIME_OFF</name>
        <choiceText>TIME OFF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TIME OFF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Order_Date_Ranges</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Order Date Ranges</label>
        <locationX>1788</locationX>
        <locationY>782</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>dateRanges</collectionReference>
        <connector>
            <targetReference>Loop_DateRanges</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Assignment_Exist</name>
        <label>Assignment Exist?</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Insert_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignment doesnt exist</defaultConnectorLabel>
        <rules>
            <name>Story_Assignment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_false</targetReference>
            </connector>
            <label>Story Assignment Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Associations_to_create_null</name>
        <label>Associations to create null?</label>
        <locationX>1524</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Insert_Associatons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With values</defaultConnectorLabel>
        <rules>
            <name>With_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatonstoCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_false</targetReference>
            </connector>
            <label>Without values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Schedule</name>
        <label>Create Schedule?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ScheduleId hasnt value</defaultConnectorLabel>
        <rules>
            <name>ScheduleId_hasnt_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scheduleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Story_Schedule</targetReference>
            </connector>
            <label>ScheduleId has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_ranges_filled</name>
        <label>Date ranges filled?</label>
        <locationX>1700</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_date_to_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DataRanges not filled</defaultConnectorLabel>
        <rules>
            <name>DateRanges_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_DateRanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>End_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_DateRanges</targetReference>
            </connector>
            <label>DateRanges filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Schedule_Exist</name>
        <label>Does Schedule Exist?</label>
        <locationX>1700</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Add_Schedule_To_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Schedule doesnt exist</defaultConnectorLabel>
        <rules>
            <name>ScheduleExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingScheduleDates</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_DateRanges_Filled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_DateRanges_Filled</targetReference>
            </connector>
            <label>Schedule Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_date_filled</name>
        <label>End date filled?</label>
        <locationX>853</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_date_ranges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End Date Filled</defaultConnectorLabel>
        <rules>
            <name>End_Date_Not_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Schedule</targetReference>
            </connector>
            <label>End Date Not Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_correct_schedule</name>
        <label>Is the correct schedule?</label>
        <locationX>2360</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Schedules_to_add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect Schedule</defaultConnectorLabel>
        <rules>
            <name>Correct_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedules_to_add.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Dates_Filled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SSA_to_Create</targetReference>
            </connector>
            <label>Correct Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Correct_SSA</name>
        <label>Is the Correct SSA?</label>
        <locationX>2184</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Schedules_Inserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_SSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SSA_Inserted.Schedule__r.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Schedules_Inserted.Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparing_association</targetReference>
            </connector>
            <label>Correct SSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_Exist</name>
        <label>Schedule Exist?</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Insert_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Schedule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Schedule</targetReference>
            </connector>
            <label>Schedule Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SSA_Exist</name>
        <label>SSA Exist?</label>
        <locationX>1876</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Schedules_to_add</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SSA doesnt Exist</defaultConnectorLabel>
        <rules>
            <name>ExistingSSA_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSSADates</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Dates_Filled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Dates_Filled</targetReference>
            </connector>
            <label>ExistingSSA Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Story_Schedule_Exist</name>
        <label>Story Schedule Exist?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Insert_Story_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Story Schedule not found</defaultConnectorLabel>
        <rules>
            <name>Story_Schedule_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Story_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Story_Schedule</targetReference>
            </connector>
            <label>Story Schedule found</label>
        </rules>
    </decisions>
    <description>LR 5/29/2024 Edited Choice Lookup for Piclists
AA 04/19/2024 Assign Story Screen Flow for LWC refactor.</description>
    <dynamicChoiceSets>
        <name>Cost_Centers</name>
        <dataType>String</dataType>
        <displayField>Cost_Center__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </filters>
        <object>Story__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lookup_Options</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Story__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Story__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>datePlusOneDay</name>
        <dataType>Date</dataType>
        <expression>{!Loop_DateRanges} + 1</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Assign Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Story</label>
    <loops>
        <name>Loop_DateRanges</name>
        <label>Loop DateRanges</label>
        <locationX>1524</locationX>
        <locationY>458</locationY>
        <collectionReference>dateRanges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Date_ranges_filled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DateRanges_Filled</name>
        <label>Loop DateRanges Filled</label>
        <locationX>1524</locationX>
        <locationY>1466</locationY>
        <collectionReference>dateRanges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Schedule_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Missing_Schedules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Dates_Filled</name>
        <label>Loop Dates Filled</label>
        <locationX>1524</locationX>
        <locationY>2582</locationY>
        <collectionReference>dateRanges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SSA_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SSA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Schedules</name>
        <label>Loop Schedules</label>
        <locationX>1524</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Schedule_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_DateRanges_Filled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SSA</name>
        <label>Loop SSA</label>
        <locationX>1524</locationX>
        <locationY>2282</locationY>
        <collectionReference>Get_Story_Associations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Existing_Story_Schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Dates_Filled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Schedules_Inserted</name>
        <label>Schedules Inserted</label>
        <locationX>1964</locationX>
        <locationY>3674</locationY>
        <collectionReference>Get_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Correct_SSA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SSA_Inserted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Schedules_to_add</name>
        <label>Schedules to add</label>
        <locationX>2140</locationX>
        <locationY>2798</locationY>
        <collectionReference>Get_Schedules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_correct_schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Dates_Filled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SSA_Inserted</name>
        <label>SSA Inserted</label>
        <locationX>1524</locationX>
        <locationY>3566</locationY>
        <collectionReference>SSAToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Schedules_Inserted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Associations_to_create_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Missing_Schedules</name>
        <label>Create Missing Schedules</label>
        <locationX>1524</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Add_New_Schedules</targetReference>
        </connector>
        <inputReference>Schedule_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Assignment</name>
        <label>Insert Assignment</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <inputAssignments>
            <field>Assignment_Information__c</field>
            <value>
                <elementReference>Assignment_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breaking_News__c</field>
            <value>
                <elementReference>Breaking_News</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Shot__c</field>
            <value>
                <elementReference>Live_Shots</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prosumer_Used__c</field>
            <value>
                <elementReference>Prosumer_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Story_Schedule_Association__c</field>
            <value>
                <elementReference>storyScheduleId</elementReference>
            </value>
        </inputAssignments>
        <object>ScheduleAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Associatons</name>
        <label>Insert Associatons</label>
        <locationX>1656</locationX>
        <locationY>4358</locationY>
        <inputReference>AssociatonstoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Schedule</name>
        <label>Insert Schedule</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>scheduleId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Story_Schedule</targetReference>
        </connector>
        <inputAssignments>
            <field>Bureau__c</field>
            <value>
                <elementReference>bureau</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Schedule__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_SSA</name>
        <label>Insert SSA</label>
        <locationX>1524</locationX>
        <locationY>3458</locationY>
        <connector>
            <targetReference>SSA_Inserted</targetReference>
        </connector>
        <inputReference>SSAToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Story_Schedule</name>
        <label>Insert Story Schedule</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>storyScheduleId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Cost_Center__c</field>
            <value>
                <elementReference>Cost_Center_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>scheduleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Story__c</field>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Story_Schedule_Association__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Story_Schedule_Association__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storyScheduleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Schedule</name>
        <label>Get Schedule</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bureau__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bureau</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Schedules</name>
        <label>Get Schedules</label>
        <locationX>1524</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Schedules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>In</operator>
            <value>
                <elementReference>dateRanges</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bureau__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bureau</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Story_Associations</name>
        <label>Get Story Associations</label>
        <locationX>1524</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cost_Center_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Story_Schedule_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Story_Schedule</name>
        <label>Get Story Schedule</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Story_Schedule_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Story_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scheduleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cost_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cost_Center_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story_Schedule_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_Story</name>
        <label>Assign Story</label>
        <locationX>853</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>End_date_filled</targetReference>
        </connector>
        <fields>
            <name>Story_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Story__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Story</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Location_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>defaultLocation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assignment_Information</name>
            <choiceReferences>DOMESTIC</choiceReferences>
            <choiceReferences>IN_TOWN</choiceReferences>
            <choiceReferences>FOREIGN</choiceReferences>
            <choiceReferences>TIME_OFF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assignment Information</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_Story_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Story_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Center_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Cost_Center__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cost Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Assignment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>defaultCostCenter</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Story_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Live_Shots</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Live Shot</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Story_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Breaking_News</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Breaking News</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Story_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prosumer_Used</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Supporting_Elements</choiceReferences>
                    <choiceReferences>Producer_Shooter_with_Technician</choiceReferences>
                    <choiceReferences>Solo_Producer_Shooter</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Prosumer Used</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assign_Story_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assign_Story_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dayDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assign_Story_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Assign Story</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>727</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Association</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ScheduleAssociation__c</objectType>
    </variables>
    <variables>
        <name>AssociatonstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ScheduleAssociation__c</objectType>
    </variables>
    <variables>
        <name>bureau</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dateRanges</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultAssignmentInformaton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultCostCenter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingScheduleDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSSADates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Schedule_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Schedule__c</objectType>
    </variables>
    <variables>
        <name>scheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Schedule__c</objectType>
    </variables>
    <variables>
        <name>SSARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story_Schedule_Association__c</objectType>
    </variables>
    <variables>
        <name>SSAToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story_Schedule_Association__c</objectType>
    </variables>
    <variables>
        <name>storyScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
