force-app/main/default/flows/Create_Invoice_from_Final_Usage_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_project_record</name>
        <label>Go to project record</label>
        <locationX>248</locationX>
        <locationY>4106</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/lightning/r/Project__c/{!ValidFinalUsageProjectID}/view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_To_Update_List</name>
        <label>Add To Update List</label>
        <locationX>336</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>FinalUsageRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Modify_All_Valid_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_All_Valid_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_from_Lookup</name>
        <label>Assign Billing Contact from Lookup</label>
        <locationX>446</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>BillingContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingContactLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingContactLookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Selection_Already_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_Operation_Associate</name>
        <label>Assign Billing Contact Operation Associate</label>
        <locationX>314</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>BillingContactOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Associate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_and_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_Operation_Create</name>
        <label>Assign Billing Contact Operation Create</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>BillingContactOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_and_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_ID_from_Project_Contact_Role</name>
        <label>Assign Contact ID from Project Contact Role</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>BillingContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Billing_Contacts.firstSelectedRow.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Billing_Contacts.firstSelectedRow.Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingContactOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Associate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_and_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_IDs_from_Billing_Contacts</name>
        <label>Assign Contact IDs from Billing Contacts</label>
        <locationX>501</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>FoundBillingContactsContactsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Project_Contact_Roles.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Invoice_Name</name>
        <label>Assign Existing Invoice Name</label>
        <locationX>633</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ExistingInvoiceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Final_Records.Contracts_and_Invoices__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Final_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Billing_Contacts</name>
        <label>Assign Found Billing Contacts</label>
        <locationX>413</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>FoundBillingContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Lookup_ID</name>
        <label>Assign Invoice Lookup ID</label>
        <locationX>336</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>Modify_All_Valid_Records.Contracts_and_Invoices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contract_and_Invoice_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name</name>
        <label>Assign Project Name</label>
        <locationX>765</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Usage_Records_Loop.Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_it_have_Invoice_already</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_as_Invalid</name>
        <label>Mark as Invalid</label>
        <locationX>633</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CountInvalidFinalUsageRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvalidFinalUsageRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usage_Records_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usage_Records_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_as_Valid</name>
        <label>Store as Valid</label>
        <locationX>897</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ValidFinalUsageRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usage_Records_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountValidFinalUsageRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidFinalUsageProjectID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Usage_Records_Loop.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalInvoiceAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usage_Records_Loop.Total_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usage_Records_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Called_as_Subflow</name>
        <label>Called as Subflow?</label>
        <locationX>248</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Invoice_Created_Screen_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subflow</defaultConnectorLabel>
        <rules>
            <name>Regular_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calledAsSubflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Created_Screen</targetReference>
            </connector>
            <label>Regular Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Invoice_Name</name>
        <label>Different Invoice Name?</label>
        <locationX>765</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Final_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different_or_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExistingInvoiceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingInvoiceName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_All_Final_Records.Contracts_and_Invoices__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Invoice_Name</targetReference>
            </connector>
            <label>Different or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_have_Invoice_already</name>
        <label>Does it have Invoice already?</label>
        <locationX>765</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Store_as_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Final_Usage_Records_Loop.Contracts_and_Invoices__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Usage_Records_Loop.Contracts_and_Invoices__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Final_Usage_Records_Loop.Contracts_and_Invoices__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Invalid</targetReference>
            </connector>
            <label>Invoice Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Billing_Contacts</name>
        <label>Found Billing Contacts?</label>
        <locationX>545</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>More_than_1_Valid_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Billing_Contacts</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDs_Received</name>
        <label>IDs Received?</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>screen_idsnull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null IDs</defaultConnectorLabel>
        <rules>
            <name>Yes_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Final_Usage_Records</targetReference>
            </connector>
            <label>Yes, process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lookup_or_Data_Table_Selection</name>
        <label>Lookup or Data Table Selection?</label>
        <locationX>248</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_Contact_from_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup Selected</defaultConnectorLabel>
        <rules>
            <name>Data_Table_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundBillingContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Not_On_List.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_ID_from_Project_Contact_Role</targetReference>
            </connector>
            <label>Data Table Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Valid_Record</name>
        <label>More than 1 Valid Record?</label>
        <locationX>545</locationX>
        <locationY>2258</locationY>
        <defaultConnector>
            <targetReference>Invalid_Records_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountValidFinalUsageRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Records_Found</targetReference>
            </connector>
            <label>More than 1 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Selection_Already_Exists</name>
        <label>User Selection Already Exists?</label>
        <locationX>446</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Create_Project_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Exists_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundBillingContactsContactsIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BillingContactID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact_Operation_Associate</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <description>LR 11/22/23: Added Invoice Date input on the screen and rerouted component
GC 11/10/23: Removed the Back Button LWC.
GC 12/13/22: Ask the user to select &quot;Billing Contact&quot;, which will be retrieved from the &quot;Project&quot;. Relate this to the Invoice and to the Project (if it is not there already). // 
GC 12/09/22: Creates an Invoice record based on selected Final Usage records and relates it to the same.</description>
    <environments>Default</environments>
    <formulas>
        <name>DefineInvoiceName</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!ExistingInvoiceName}), NOT(CONTAINS({!ExistingInvoiceName}, {!ProjectName}))), {!ProjectName} &amp; &quot;_1&quot;,
{!ProjectName} &amp; &quot;_&quot; &amp; TEXT(VALUE(RIGHT({!ExistingInvoiceName}, (LEN({!ExistingInvoiceName}) - FIND(&quot;_&quot;, {!ExistingInvoiceName}, 1)))) + 1))</expression>
    </formulas>
    <interviewLabel>Create Invoice from Final Usage Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice from Final Usage Records</label>
    <loops>
        <description>GC: Loop through the Final Usage records to find if any of them is invalid. If they have a related Invoice, check them as invalid.</description>
        <name>Final_Usage_Records_Loop</name>
        <label>Final Usage Records Loop</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <collectionReference>Select_Final_Usage_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Final_Usage_By_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Final_Records</name>
        <label>Loop All Final Records</label>
        <locationX>545</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_All_Final_Usage_By_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Different_Invoice_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Project_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Project_Contact_Roles</name>
        <label>Loop Project Contact Roles</label>
        <locationX>413</locationX>
        <locationY>1874</locationY>
        <collectionReference>Get_Project_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_IDs_from_Billing_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Valid_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Modify_All_Valid_Records</name>
        <label>Modify All Valid Records</label>
        <locationX>248</locationX>
        <locationY>3290</locationY>
        <collectionReference>ValidFinalUsageRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Invoice_Lookup_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Final_Usage_Records_with_Invoice_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract_and_Invoice_Record</name>
        <label>Create Contract and Invoice Record</label>
        <locationX>248</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Modify_All_Valid_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>BillingContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefineInvoiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Title__c</field>
            <value>
                <elementReference>Project_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ValidFinalUsageProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>To Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Invoice_Amount__c</field>
            <value>
                <elementReference>TotalInvoiceAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Contracts_and_Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Contact_Role</name>
        <label>Create Project Contact Role</label>
        <locationX>578</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Assign_Billing_Contact_Operation_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Role__c</field>
            <value>
                <stringValue>Billing Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>BillingContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ValidFinalUsageProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Final_Usage_By_Project</name>
        <label>Get All Final Usage By Project</label>
        <locationX>545</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Final_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ValidFinalUsageProjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contracts_and_Invoices__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Final_Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GC 12/13/22: Gets all Project Contact Roles associated with the Project.</description>
        <name>Get_Project_Contact_Roles</name>
        <label>Get Project Contact Roles</label>
        <locationX>545</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Billing_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ValidFinalUsageProjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Contact_Role__c</object>
        <sortField>Contact__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GC 12/09/2022: Bring the Final Usage records that kicked the process.</description>
        <name>Select_Final_Usage_Records</name>
        <label>Select Final Usage Records</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Usage_Records_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Final_Usage__c</object>
        <sortField>Contracts_and_Invoices_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Final_Usage_Records_with_Invoice_ID</name>
        <label>Update Final Usage Records with Invoice ID</label>
        <locationX>248</locationX>
        <locationY>3698</locationY>
        <connector>
            <targetReference>Called_as_Subflow</targetReference>
        </connector>
        <inputReference>FinalUsageRecordsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Invalid_Records_Selected</name>
        <label>Invalid Records Selected</label>
        <locationX>842</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Records_Selected_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invalid_Records_Selected_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_all_invalid</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;All previously selected records already contain a related Invoice. Please click &lt;/span&gt;&lt;strong style=&quot;color: rgb(18, 0, 154);&quot;&gt;Finish&lt;/strong&gt;&lt;span style=&quot;color: rgb(240, 4, 4);&quot;&gt;, go back &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;and select valid records.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Created_Screen</name>
        <label>Invoice Created Screen</label>
        <locationX>116</locationX>
        <locationY>3914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_project_record</targetReference>
        </connector>
        <fields>
            <name>Invoice_Created_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Created_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_invoice_information</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your new Invoice was &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;created&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and related to {!CountValidFinalUsageRecords} Final Usage record(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displaytxt_billingcontactcreated</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BillingContactName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; was created as a Billing Contact for the Project &quot;{!ProjectName}&quot; and for the new Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BillingContactOperation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displaytxt_billingcontactassociated</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!BillingContactName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; was associated to the new Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BillingContactOperation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Associate</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Created_Screen_Subflow</name>
        <label>Invoice Created Screen Subflow</label>
        <locationX>380</locationX>
        <locationY>3914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_to_project_record</targetReference>
        </connector>
        <fields>
            <name>Invoice_Created_Screen_Subflow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Created_Screen_Subflow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_displaytxt_invoice_information</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your new Invoice was &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;created&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; and related to {!CountValidFinalUsageRecords} Final Usage record(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_displaytxt_billingcontactcreated</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BillingContactName}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; was created as a Billing Contact for the Project &quot;{!ProjectName}&quot; and for the new Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BillingContactOperation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_displaytxt_billingcontactassociated</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!BillingContactName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; was associated to the new Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BillingContactOperation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Associate</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_idsnull</name>
        <label>IDs Variable Null</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaytxt_idsnull</name>
            <fieldText>&lt;p&gt;The Flow didn&apos;t receive any IDs, or the IDs are incorrect. Please click &lt;strong style=&quot;color: rgb(6, 0, 199);&quot;&gt;Finish &lt;/strong&gt;and select valid records before proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_idsnull_goback</name>
            <extensionName>c:backButtonLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Valid_Records_Found</name>
        <label>Valid Records Found</label>
        <locationX>248</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_or_Data_Table_Selection</targetReference>
        </connector>
        <fields>
            <name>Valid_Records_Found_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valid_Records_Found_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_invalid_records_found</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We found some records with related Invoices. &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;These records will not be processed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Invalid_Final_Usage</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Final_Usage__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Records with Invoice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>InvalidFinalUsageRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f71e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Final Usage ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-d7d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contracts_and_Invoices_Name__c&quot;,&quot;guid&quot;:&quot;column-c00d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Invoice Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountInvalidFinalUsageRecords</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Valid_Records_Found_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valid_Records_Found_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_valid_records_found</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following records are good to go. A new Invoice will be created and related to these records.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Valid_Final_Usage</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Final_Usage__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Records Valid to Process</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ValidFinalUsageRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3fad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Final Usage ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-6ae1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountValidFinalUsageRecords</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Valid_Records_Found_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valid_Records_Found_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_Project_Title</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please set the Project Title and invoice date assigned to the new Invoice.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Project_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ProjectName</elementReference>
                    </defaultValue>
                    <fieldText>Project Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Project Title must be less than 80 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Project_Title}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Invoice_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Invoice Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Valid_Records_Found_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valid_Records_Found_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_selectbillingcontacts</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select the Billing Contact to associate with the new Invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Select_Billing_Contacts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Project_Contact_Role__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Available Billing Contacts Related to this Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Project_Contact_Roles</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0ed3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Contact Role ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-35bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FoundBillingContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Toggle_Not_On_List.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Valid_Records_Found_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Valid_Records_Found_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaytxt_otherbillingcontact</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Please select the Contact you need on the following box to associate it with the Invoice and the Project.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Toggle_Not_On_List.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displaytxt_nobillingcontacts</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We couldn&apos;t find Billing Contacts associated with this Project. Please select one on the following box to associate it with the Invoice and the Project.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FoundBillingContacts</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BillingContactLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Billing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>FoundBillingContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Toggle_Not_On_List.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Toggle_Not_On_List</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>The Contact I need is not on the list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FoundBillingContacts</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displaytxt_continuenext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Once you are done, please click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 5, 147); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDs_Received</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingContactOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 01/30/23: Added so the subflow knows when it&apos;s called as a child, and shows a different finish screen with the real Finish button instead of the LWC Finish button. This is done so the flow can actually refresh the record where it was launched, while the LWC button fakes a &quot;back&quot; browser button.</description>
        <name>calledAsSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>GC: Holds the number of records that already have a related Invoice.</description>
        <name>CountInvalidFinalUsageRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountValidFinalUsageRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExistingInvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalUsageRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>FoundBillingContacts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FoundBillingContactsContactsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC: Holds the records that stop the process for continuing with the task.</description>
        <name>InvalidFinalUsageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalInvoiceAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ValidFinalUsageProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidFinalUsageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
</Flow>
