force-app/main/default/flows/OTCI0147_Perform_Callout_ITC2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Request_OTCI0147</name>
        <label>Post Request OTCI0147</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <actionName>OTCI0147ITC2.postSalesforceARDocument</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_for_Faulty_Path</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OTCI0147ITC2.postSalesforceARDocument</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_200</name>
        <label>Assign 200</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147.200.errorDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X200_with_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_400</name>
        <label>Assign 400</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147.400Exc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_401</name>
        <label>Assign 401</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unauthorized</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Empty_Variable</name>
        <label>Assign Empty Variable</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>EmptyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Data_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign all values to complete the request.</description>
        <name>Complete_Request</name>
        <label>Complete Request</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Request.usageSalesforceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.usage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Request_OTCI0147</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign request values for the contract object.</description>
        <name>Contract_Data_Info</name>
        <label>Contract Data Info</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Contract_Request.invoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_invoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.billTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_BillingContact.Bill_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.purchaseOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_purchaseOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.paramountInternal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Paramount_Internal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.invoiceFinalized</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceFinalized_Transform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.projectTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Project_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.sourceBoundarySystemCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Source_Boundary_System_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.taxApplicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taxApplicable_Transform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request.supressInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supressInvoice_Transform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign request values for the project object.</description>
        <name>Project_Data_Info</name>
        <label>Project Data Info</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Project_Request.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedProjectRecord.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request.accountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_accountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request.projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedProjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request.ownerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ProjectOwnerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usage_Data_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign request values for the usage object.</description>
        <name>Usage_Data_Info</name>
        <label>Usage Data Info</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Usage_Request.feeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Fee_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.feeNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_feeNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.totalRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_totalRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.broadcastCodeShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Broadcast_Code_Show__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.show</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Show__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.episodeSegmentTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_episodeSegmentTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.airDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_airDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.collectionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_collectionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.serviceFeeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_serviceFeeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request.currencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedFinalUsage.Currency_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract_Data_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response</name>
        <label>Response?</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X200_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_200</targetReference>
            </connector>
            <label>200 OK</label>
        </rules>
        <rules>
            <name>X400_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_400</targetReference>
            </connector>
            <label>400 Error</label>
        </rules>
        <rules>
            <name>X401_Unauthorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>401.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_401</targetReference>
            </connector>
            <label>401 Unauthorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>X200_with_Error</name>
        <label>200 with Error?</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>LOG_SUCCESS_DELETE_ME_PLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>GC 07/21/23: Makes the callout to the external system OTCI0147. Corresponds to ITC2.</description>
    <environments>Default</environments>
    <formulas>
        <name>Contract_invoiceDate</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_ContractAndInvoiceRecord.Invoice_Date__c}),ISBLANK({!input_ContractAndInvoiceRecord.Invoice_Date__c})), 
{!EmptyVariable},
IF(MONTH({!input_ContractAndInvoiceRecord.Invoice_Date__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(MONTH({!input_ContractAndInvoiceRecord.Invoice_Date__c})) &amp; &apos;/&apos; &amp;
IF(DAY({!input_ContractAndInvoiceRecord.Invoice_Date__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(DAY({!input_ContractAndInvoiceRecord.Invoice_Date__c})) &amp; &apos;/&apos; &amp;
TEXT(YEAR({!input_ContractAndInvoiceRecord.Invoice_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>Contract_purchaseOrder</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_ContractAndInvoiceRecord.Purchase_Order__c}),ISBLANK({!input_ContractAndInvoiceRecord.Purchase_Order__c})), {!EmptyVariable}, {!input_ContractAndInvoiceRecord.Purchase_Order__c})</expression>
    </formulas>
    <formulas>
        <description>GC 08/10/23: Transforms InvoiceFinalized from true to &quot;Y&quot; and from false to &quot;N&quot;.</description>
        <name>invoiceFinalized_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Invoice_Finalized__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>paramountInternal_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Paramount_Internal__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>Project_accountNumber</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_ContractAndInvoiceRecord.Customer_Number__c}),ISBLANK({!input_ContractAndInvoiceRecord.Customer_Number__c})), {!EmptyVariable}, {!input_ContractAndInvoiceRecord.Customer_Number__c})</expression>
    </formulas>
    <formulas>
        <description>GC 09/06/23: Cut the string in 255 chars, otherwise the flow throws an exception.</description>
        <name>ResponseStatus_255</name>
        <dataType>String</dataType>
        <expression>LEFT({!ResponseStatus}, 255)</expression>
    </formulas>
    <formulas>
        <name>supressInvoice_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Supress_Invoice__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>taxApplicable_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Tax_Applicable__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>Usage_airDate</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_RelatedFinalUsage.Airdate__c}),ISBLANK({!input_RelatedFinalUsage.Airdate__c})), 
{!EmptyVariable},
IF(MONTH({!input_RelatedFinalUsage.Airdate__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(MONTH({!input_RelatedFinalUsage.Airdate__c})) &amp; &apos;/&apos; &amp;
IF(DAY({!input_RelatedFinalUsage.Airdate__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(DAY({!input_RelatedFinalUsage.Airdate__c})) &amp; &apos;/&apos; &amp;
TEXT(YEAR({!input_RelatedFinalUsage.Airdate__c})))</expression>
    </formulas>
    <formulas>
        <name>Usage_collectionType</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!input_RelatedFinalUsage.Collection_Type__c},&apos;&apos;), {!EmptyVariable}, TEXT({!input_RelatedFinalUsage.Collection_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>Usage_episodeSegmentTitle</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_RelatedFinalUsage.Episode_Segment_Title__c}),ISBLANK({!input_RelatedFinalUsage.Episode_Segment_Title__c})), {!EmptyVariable}, {!input_RelatedFinalUsage.Episode_Segment_Title__c})</expression>
    </formulas>
    <formulas>
        <name>Usage_feeNotes</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_RelatedFinalUsage.Fee_Notes__c}),ISBLANK({!input_RelatedFinalUsage.Fee_Notes__c})), {!EmptyVariable}, {!input_RelatedFinalUsage.Fee_Notes__c})</expression>
    </formulas>
    <formulas>
        <name>Usage_serviceFeeType</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!input_RelatedFinalUsage.Service_Fee_Type__c},&apos;&apos;), {!EmptyVariable}, TEXT({!input_RelatedFinalUsage.Service_Fee_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>Usage_totalRevenue</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_RelatedFinalUsage.Total_Revenue__c}),ISBLANK({!input_RelatedFinalUsage.Total_Revenue__c})), {!EmptyVariable}, TEXT({!input_RelatedFinalUsage.Total_Revenue__c}))</expression>
    </formulas>
    <interviewLabel>OTCI0147 - Perform Callout ITC2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTCI0147 - Perform Callout ITC2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <elementReference>ResponseStatus_255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <elementReference>ResponseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Error_for_Faulty_Path</name>
        <label>Log Error for Faulty Path</label>
        <locationX>1194</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <stringValue>Faulty Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <stringValue>Not Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GC 09/01/23: To add a log even when it works. Remove later, added only for debugging and development purposes.</description>
        <name>LOG_SUCCESS_DELETE_ME_PLS</name>
        <label>LOG SUCCESS DELETE ME PLS</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <elementReference>ResponseStatus_255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <elementReference>ResponseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Integration_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Empty_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RequestStringFormat</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Request}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>GC 07/24/23: Hols the object &quot;Contract&quot; for the OTCI0147 request.</description>
        <name>Contract_Request</name>
        <apexClass>ExternalService__OTCI0147ITC2_contract</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmptyVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 09/07/23: Input the Billing Contact related to that invoice.</description>
        <name>input_BillingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>input_ContractAndInvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>input_ProjectOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 09/01/23: Singular Final Usage. Just to test with ITC2 until ITC3 is developed.</description>
        <name>input_RelatedFinalUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <description>GC 09/01/23: Also known as Line Items. Input this information to perform the callout.</description>
        <name>input_RelatedFinalUsages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <description>GC 09/01/23: Project record related to the invoice.</description>
        <name>input_RelatedProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <description>GC 07/24/23: Hols the object &quot;Project&quot; for the OTCI0147 request.</description>
        <name>Project_Request</name>
        <apexClass>ExternalService__OTCI0147ITC2_project</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 07/24/23: Hols the complete request for the OTCI0147 request.</description>
        <name>Request</name>
        <apexClass>ExternalService__OTCI0147ITC2_Invoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 07/24/23: Hols the object &quot;Usage&quot; for the OTCI0147 request.</description>
        <name>Usage_Request</name>
        <apexClass>ExternalService__OTCI0147ITC2_usage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
