force-app/main/default/flows/OTCI0147_Manage_Multiple_SAP_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CommitPost</name>
        <label>CommitPost</label>
        <locationX>1986</locationX>
        <locationY>2570</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>There_was_an_error_in_the_callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_invoice_to_list</name>
        <label>Add invoice to list</label>
        <locationX>1590</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicesToProcess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicesReadyToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_invoice_to_lists</name>
        <label>Add invoice to list Text</label>
        <locationX>1282</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fields Missing: </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mising_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_No_FU_Collection</name>
        <label>Add to No FU Collection</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>NoFinalUsagesInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowFUDatatable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_variables</name>
        <label>Assign error variables</label>
        <locationX>1854</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SentInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_values</name>
        <label>Assign Missing values</label>
        <locationX>1546</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Through_Mising_values}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mising_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ready_to_send_Count</name>
        <label>Assign Ready to send Count</label>
        <locationX>2184</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>FilterReadyCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Ready_to_send</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Ready</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_To_SAP</name>
        <label>Assign Send To SAP</label>
        <locationX>600</locationX>
        <locationY>4946</locationY>
        <assignmentItems>
            <assignToReference>SendToSAP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_All_Selected_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_contact</name>
        <label>Assign Single contact</label>
        <locationX>1370</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>SingleContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Project</name>
        <label>Assign Single Project</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>singleProject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Project_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_variables</name>
        <label>Assign success variables</label>
        <locationX>2118</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successfully Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SentInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuccessfullySentInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Break</name>
        <label>Break</label>
        <locationX>1282</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Selected_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_List</name>
        <label>Clean List</label>
        <locationX>1194</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InvoicesToProcess</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InvoicesToProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendAllInvoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoFinalUsagesInvoices</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>NoFinalUsagesInvoices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowFUDatatable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoices_from_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_invoice_to_list</name>
        <label>Copy 1 of Add invoice to list</label>
        <locationX>1282</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>SendAllInvoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicesToProcess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Succesfull_Invoices</name>
        <label>Count Succesfull Invoices</label>
        <locationX>182</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>SuccesCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SuccessfullySentInvoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_update_is_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FU_Count_of_reccords</name>
        <label>FU Count of reccords</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FUIsNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_FU_From_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_Form_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Comma2</name>
        <label>Remove Comma</label>
        <locationX>1150</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveLastCommaChar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_invoice_to_list</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Ready_to_send</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Ready to send</label>
        <locationX>2184</locationX>
        <locationY>2138</locationY>
        <assignNextValueToReference>currentItem_Filter_Ready_to_send_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InvoicesReadyToSend</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Ready_to_send_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_All_Selected_Invoice.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Ready_to_send_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Billing_Contact_From_Invoice</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Billing Contact From Invoice</label>
        <locationX>1282</locationX>
        <locationY>1514</locationY>
        <assignNextValueToReference>currentItem_Get_Billing_Contact_From_Invoice_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Contacts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Billing_Contact_From_Invoice_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_All_Selected_Invoice.Billing_Contact__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Contact_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_FU_From_Invoice</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get FU From Invoice</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Get_FU_From_Invoice_to_Remediate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_FU</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_FU_From_Invoice_to_Remediate.Contracts_and_Invoices__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_All_Selected_Invoice.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>FU_Count_of_reccords</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_FU_From_Invoice_to_Remediate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get FU From Invoice to Remediate</label>
        <locationX>1018</locationX>
        <locationY>4130</locationY>
        <assignNextValueToReference>currentItem_Get_FU_From_Invoice_to_Remediate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_FU</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_FU_From_Invoice_to_Remediate.Contracts_and_Invoices__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Invoices_selection.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Final_Usage_Remediation</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Project_Form_Invoice</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Project Form Invoice</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Ger_Project_Form_Invoice_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Projects</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Ger_Project_Form_Invoice_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_All_Selected_Invoice.Project__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Project_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_fields_missing_from_the_invoice</name>
        <label>Are fields missing from the invoice?</label>
        <locationX>1436</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Add_invoice_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fields_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_projectMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_otherMissingInformation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_invoice_to_lists</targetReference>
            </connector>
            <label>Fields Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canceled</name>
        <label>Canceled?</label>
        <locationX>468</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>Assign_Send_To_SAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalScreenButton.fire4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicates</name>
        <label>Check Duplicates</label>
        <locationX>1458</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Assign_Missing_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Mising_values</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Mising_values</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_list_is_empty</name>
        <label>Check if list is empty</label>
        <locationX>666</locationX>
        <locationY>4622</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Invoices_to_send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoicesReadyToSend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen_1</targetReference>
            </connector>
            <label>Are Invoices to send?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_update_is_needed</name>
        <label>Check if update is needed</label>
        <locationX>182</locationX>
        <locationY>4130</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Record_Statuses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuccesCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_for_succeses</targetReference>
            </connector>
            <label>Update Record Statuses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>666</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Invoices_Remediation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToSAP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>End</label>
        </rules>
        <rules>
            <name>Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendAllInvoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_list_is_empty</targetReference>
            </connector>
            <label>Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ready</name>
        <label>Is Ready?</label>
        <locationX>2184</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>Break</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Ready_to_send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterReadyCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCI0147_Perform_Callout_ITC3</targetReference>
            </connector>
            <label>Ready to send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_value_ends_with_comma</name>
        <label>Missing value ends with comma</label>
        <locationX>1282</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_invoice_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_Comma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_Selected_Invoice.Ready_to_send__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>, </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Comma2</targetReference>
            </connector>
            <label>Remove Comma</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_FU_Found</name>
        <label>No FU Found?</label>
        <locationX>1282</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Subflow_To_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FUIsNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_No_FU_Collection</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_valid_invoices</name>
        <label>Selected valid invoices?</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices_from_IDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_FU</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subflow_To_Run</name>
        <label>Subflow To Run</label>
        <locationX>1810</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Filter_Ready_to_send</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send To SAP</defaultConnectorLabel>
        <rules>
            <name>Validate_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToSAP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTCI0147_Fields_Validation</targetReference>
            </connector>
            <label>Validate Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_was_an_error_in_the_callout</name>
        <label>There was an error in the callout?</label>
        <locationX>1986</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Assign_success_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsResponseStatusError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_variables</targetReference>
            </connector>
            <label>Error detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>View_FU</name>
        <label>View FU</label>
        <locationX>1150</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>Check_if_list_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Camcel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>footer.fire4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel?</label>
        </rules>
        <rules>
            <name>View</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceDetail.isCancelButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceDetailNoBillTo.isCancelButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FU_From_Invoice_to_Remediate</targetReference>
            </connector>
            <label>View</label>
        </rules>
        <rules>
            <name>Save_and_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>footer.fire5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Clean_List</targetReference>
            </connector>
            <label>Save and back</label>
        </rules>
    </decisions>
    <description>AA 02/23/2024: Send multiple invoices to SAP</description>
    <environments>Default</environments>
    <formulas>
        <name>IsResponseStatusError</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!TCI0147_Perform_Callout_ITC3.ResponseStatus} = &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RemoveLastCommaChar</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Loop_Through_All_Selected_Invoice.Ready_to_send__c}, (LEN( {!Loop_Through_All_Selected_Invoice.Ready_to_send__c}) - 2)))</expression>
    </formulas>
    <interviewLabel>OTCI0147 - Manage Multiple SAP Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTCI0147 - Manage Multiple SAP Invoices</label>
    <loops>
        <name>Loop_Contact_Filter</name>
        <label>Loop Contact Filter</label>
        <locationX>1282</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Billing_Contact_From_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_FU_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Project_Filter</name>
        <label>Loop Project Filter</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Project_Form_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Billing_Contact_From_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_All_Selected_Invoice</name>
        <label>Loop Through All Selected Invoice</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Invoices_from_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_FU_From_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Mising_values</name>
        <label>Loop Through Mising values</label>
        <locationX>1282</locationX>
        <locationY>2462</locationY>
        <collectionReference>OTCI0147_Fields_Validation.output_MissingFieldsCollectionLabels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Missing_value_ends_with_comma</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Selected_Invoice</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_FU</name>
        <label>Get All FU</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Projects</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Final_Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Projects</name>
        <label>Get All Projects</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_from_IDs</name>
        <label>Get Invoices from IDs</label>
        <locationX>1194</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_valid_invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sent to SAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>To Cancel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contracts_and_Invoices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_for_succeses</name>
        <label>Update Status for succeses</label>
        <locationX>50</locationX>
        <locationY>4238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SuccessfullySentInvoices</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent to SAP</stringValue>
            </value>
        </inputAssignments>
        <object>Contracts_and_Invoices__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen_1</name>
        <label>Confirmation Screen</label>
        <locationX>468</locationX>
        <locationY>4730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Canceled</targetReference>
        </connector>
        <fields>
            <name>Send_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Send the invoices?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_Invoices_selection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contracts_and_Invoices__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invoices ready to send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>InvoicesReadyToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2ec4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-816a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Date__c&quot;,&quot;guid&quot;:&quot;column-8c83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-d615&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Ready_to_send__c&quot;,&quot;guid&quot;:&quot;column-b4d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Ready to send?&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 43, 1);&quot;&gt;The following invoices Cant be created since they do not have final usages:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFUDatatable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Invoices_without_FU</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contracts_and_Invoices__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Invoices without final usages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>NoFinalUsagesInvoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3cbf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-4adb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Date__c&quot;,&quot;guid&quot;:&quot;column-443d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-e4b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Project_Title__c&quot;,&quot;guid&quot;:&quot;column-0225&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Project Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-c193&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFUDatatable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>finalScreenButton</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>rightJustify</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType5</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label5</name>
                <value>
                    <stringValue>Send invoices to SAP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label4</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send To SAP</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1194</locationX>
        <locationY>5372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorInInvoices</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(237, 10, 10);&quot;&gt;No valid invoices where selected&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Re-check the selected invoice&apos;s status/Final usages before trying again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>182</locationX>
        <locationY>3914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_Succesfull_Invoices</targetReference>
        </connector>
        <fields>
            <name>invoicesResut</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contracts_and_Invoices__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Status of sent invoices.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SentInvoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3c99&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Ready_to_send__c&quot;,&quot;guid&quot;:&quot;column-e845&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Sent Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Ready to send?&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Usage_Remediation</name>
        <label>Final Usage Remediation</label>
        <locationX>1018</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Clean_List</targetReference>
        </connector>
        <fields>
            <name>Final_Usages_Selection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Final_Usage__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_FU_From_Invoice_to_Remediate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5ec4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Final Usage ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Revenue__c&quot;,&quot;guid&quot;:&quot;column-c4aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Total Revenue&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Currency_Code__c&quot;,&quot;guid&quot;:&quot;column-827d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Currency Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-cfb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FinalUsage_detail</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CancelBtnLabel</name>
                <value>
                    <stringValue>Edit final usages?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowNavigationOnCancelDirection</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowNavigationOnCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Final_Usages_Selection.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,Total_Revenue__c,Currency_Code__c,Fee_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressToast</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowNavigationOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Re-validate all invoices</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoices_Remediation</name>
        <label>Invoices Remediation</label>
        <locationX>1150</locationX>
        <locationY>3914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>View_FU</targetReference>
        </connector>
        <fields>
            <name>Invoices_to_Remediate</name>
            <fieldText>Invoices to Remediate:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoices_to_Remediate_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoices_selection</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contracts_and_Invoices__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>InvoicesToProcess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2ec4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-816a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Date__c&quot;,&quot;guid&quot;:&quot;column-8c83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-d615&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Ready_to_send__c&quot;,&quot;guid&quot;:&quot;column-b4d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Ready to send?&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InvoiceDetail</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>CancelBtnLabel</name>
                        <value>
                            <stringValue>Edit final usages?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnCancelDirection</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnCancel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Invoices_selection.firstSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Name,Billing_Contact__c,Bill_To__c,Invoice_Date__c,Source_Boundary_System_Code__c,Invoice_Amount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showCancelButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressToast</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnSave</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Save and validate</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Invoices_selection.firstSelectedRow.Bill_To__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Invoices_selection.firstSelectedRow.Billing_Contact__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InvoiceDetailNoBillTo</name>
                    <extensionName>c:recordDetailFlowScreenComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>CancelBtnLabel</name>
                        <value>
                            <stringValue>Edit final usages?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnCancelDirection</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnCancel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowNavigationOnSave</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>mode</name>
                        <value>
                            <stringValue>edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Invoices_selection.firstSelectedRow.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showCancelButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressToast</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Name,Billing_Contact__c,Bill_To_Auxiliar__c,Invoice_Date__c,Source_Boundary_System_Code__c,Invoice_Amount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>SaveBtnLabel</name>
                        <value>
                            <stringValue>Save and validate</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Invoices_selection.firstSelectedRow.Bill_To__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Invoices_selection.firstSelectedRow.Billing_Contact__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoices_without_final_usages</name>
            <fieldText>Invoices without final usages</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoices_without_final_usages_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_FU_Error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 43, 1);&quot;&gt;The following invoices Cant be created since they do not have final usages:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ShowFUDatatable</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Invoices_with_no_fu</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contracts_and_Invoices__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoices without final usages</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>NoFinalUsagesInvoices</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0aae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contracts and Invoices Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Number__c&quot;,&quot;guid&quot;:&quot;column-c53c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Invoice Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice_Date__c&quot;,&quot;guid&quot;:&quot;column-ac02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Invoice_Amount__c&quot;,&quot;guid&quot;:&quot;column-d746&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Invoice Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Project_Title__c&quot;,&quot;guid&quot;:&quot;column-94c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Project Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Invoice__c&quot;,&quot;guid&quot;:&quot;column-2271&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Invoice&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ShowFUDatatable</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFUDatatable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fire</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigationType</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationURL</name>
                <value>
                    <stringValue>https://salesforce.com/</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledFlag</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType2</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantType5</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rightJustify</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label5</name>
                <value>
                    <stringValue>Send Ready Invoices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label4</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType5</name>
                <value>
                    <stringValue>standard</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send All Ready invoices</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clean_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OTCI0147_Fields_Validation</name>
        <label>OTCI0147 - Fields Validation</label>
        <locationX>1436</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Are_fields_missing_from_the_invoice</targetReference>
        </connector>
        <flowName>OTCI0147_Fields_Validation</flowName>
        <inputAssignments>
            <name>input_BillingContact</name>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FinalUsagesRecords</name>
            <value>
                <elementReference>Get_FU_From_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_InvoiceRecord</name>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Project</name>
            <value>
                <elementReference>singleProject</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>TCI0147_Perform_Callout_ITC3</name>
        <label>TCI0147 - Perform Callout ITC3</label>
        <locationX>1986</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>CommitPost</targetReference>
        </connector>
        <flowName>OTCI0147_Perform_Callout_ITC3</flowName>
        <inputAssignments>
            <name>input_BillingContact</name>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ContractAndInvoiceRecord</name>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ProjectOwnerName</name>
            <value>
                <elementReference>Loop_Through_All_Selected_Invoice.Project__r.Owner:User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_RelatedFinalUsages</name>
            <value>
                <elementReference>Get_FU_From_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_RelatedProjectRecord</name>
            <value>
                <elementReference>singleProject</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_Ready_to_send_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Ger_Project_Form_Invoice_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Billing_Contact_From_Invoice_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_FU_From_Invoice_to_Remediate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>ErrorInCallout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterReadyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FUIsNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoicesReadyToSend</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>InvoicesToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>NoFinalUsagesInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>SendAllInvoices</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SendToSAP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SentInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>ShowFUDatatable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>singleProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>SuccesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SuccessfullySentInvoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
