force-app/main/default/flows/OTCI0147_Manage_a_Single_SAP_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>GC 09/07/23: Assign Final Usage to update.</description>
        <name>Assign_Final_Usage_to_Collection</name>
        <label>Assign Final Usage to Collection</label>
        <locationX>1546</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>toUpdate_FixedFinalUsages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Final_Usages_Fix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usages_Fix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Date</name>
        <label>Assign Invoice Date</label>
        <locationX>1304</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>recordId.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userInput_InvoiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Date_s</name>
        <label>Assign Invoice Date</label>
        <locationX>1304</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recordId.Invoice_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userInput_InvoiceAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 09/06/23: Assign the automatic values to the record and update it.</description>
        <name>Assign_Invoice_Missing_System_Info</name>
        <label>Assign Invoice Missing System Info.</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recordId.Source_Boundary_System_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>literal_Salesforce</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Missing_System_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Status</name>
        <label>Assign New Status</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusForBilledOrNot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 09/07/23: Assign the value assigned to Total Revenue.</description>
        <name>Assign_Total_Revenue_Value</name>
        <label>Assign Total Revenue Value</label>
        <locationX>1546</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Final_Usages_Fix.Total_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Revenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_CurrentIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_Usage_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 09/07/23: Clean the variable if the user has to loop again. This is because if the list variable is not cleaned, once it loops again it fails on the update because there is a duplicated ID.</description>
        <name>Clear_Fix_List</name>
        <label>Clear Fix List</label>
        <locationX>1458</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>toUpdate_FixedFinalUsages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>toUpdate_FixedFinalUsages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_CurrentIteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Final_Usage_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 09/07/23: Count the number of Final Usages with an error. The only purpose is to show the user the number of records with errors.</description>
        <name>Count_Records_with_Error</name>
        <label>Count Records with Error</label>
        <locationX>1458</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>count_FinalUsagesWithError</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OTCI0147_Fields_Validation.output_finalUsagesIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Usages_Fix</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Required_Field_Missing</name>
        <label>Any Required Field Missing?</label>
        <locationX>1485</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All good</defaultConnectorLabel>
        <rules>
            <name>At_least_1_missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_projectMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_otherMissingInformation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autom_Generated_System_Info_Issue</targetReference>
            </connector>
            <label>At least 1 missing</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/06/23: Do not prompt the user to add system generated values, like Source_Boundary_System_Code__c.</description>
        <name>Autom_Generated_System_Info_Issue</name>
        <label>Autom. Generated System Info Issue?</label>
        <locationX>897</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>No_Final_Usages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Value_Issue_Detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>literal_SourceBoundarySystemCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Missing_System_Info</targetReference>
            </connector>
            <label>System Value Issue Detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bill_To_Updated</name>
        <label>Bill To Updated?</label>
        <locationX>1436</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Invoice_Date_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Entered_Bill_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bill_To__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userInput_BillTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_To_on_Related_Contact</targetReference>
            </connector>
            <label>User Entered Bill To</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Amount_Updated</name>
        <label>Invoice Amount Updated?</label>
        <locationX>1436</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Bill_To_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Entered_Invoice_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invoice_Amount__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userInput_InvoiceAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Date_s</targetReference>
            </connector>
            <label>User Entered Invoice Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/07/23: If used added the Invoice Date, update the Invoice.</description>
        <name>Invoice_Date_Updated</name>
        <label>Invoice Date Updated?</label>
        <locationX>1436</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Issues_with_Final_Usages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Entered_Invoice_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invoice_Date__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userInput_InvoiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Date</targetReference>
            </connector>
            <label>User Entered Invoice Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/07/23: If true, prompt screen to fix the Final Usages.</description>
        <name>Issues_with_Final_Usages</name>
        <label>Issues with Final Usages?</label>
        <locationX>1590</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Final_Usage_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fix_the_Final_Usages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Records_with_Error</targetReference>
            </connector>
            <label>Fix the Final Usages</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/07/23: If true, show the Invoice Remediation Screen.</description>
        <name>Issues_with_the_Invoice</name>
        <label>Issues with the Invoice?</label>
        <locationX>1590</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Issues_with_Final_Usages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fix_the_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Remediation_Screen</targetReference>
            </connector>
            <label>Fix the Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/07/23: If there are no related Final Usages, the process must end.</description>
        <name>No_Final_Usages</name>
        <label>No Final Usages?</label>
        <locationX>1216</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Issues_with_the_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Couldn_t_Find_Final_Usages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNoItemsTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_No_Final_Usages</targetReference>
            </connector>
            <label>Couldn&apos;t Find Final Usages</label>
        </rules>
    </decisions>
    <decisions>
        <description>GC 09/07/23: Verify if record is present on the error list and must be fixed.</description>
        <name>On_the_Error_List</name>
        <label>On the Error List?</label>
        <locationX>1678</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Final_Usages_Fix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID_is_on_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Final_Usages_Fix.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Usages_Remediation_Screen</targetReference>
            </connector>
            <label>ID is on list</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_with_Error</name>
        <label>Response with Error?</label>
        <locationX>2074</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No error</defaultConnectorLabel>
        <rules>
            <name>Error_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsResponseStatusError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Screen</targetReference>
            </connector>
            <label>Error detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_equals_a_Finished_Status</name>
        <label>Status equals a Finished Status?</label>
        <locationX>767</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Final_Usage_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_to_SAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>literal_SentToSAP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Sent_to_SAP</targetReference>
            </connector>
            <label>Sent to SAP</label>
        </rules>
        <rules>
            <name>To_Cancel_or_Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Cancelled</targetReference>
            </connector>
            <label>To Cancel or Cancelled</label>
        </rules>
    </decisions>
    <description>LR 1/4/24: Added Invoice Amount to invoice remediation
GC 10/26/23: Changed to the new OpenAPI Spec for ITC3.
GC 10/17/23: Changed Request Subflow from ITC2 to ITC3, and replaced all references to a &quot;single Final Usage&quot; to multiple line items.
GC 08/16/23: Manages the single invoice creation on SAP.</description>
    <environments>Default</environments>
    <formulas>
        <description>GC 09/07/23: Formula is true if &quot;No Items&quot; is on the &quot;Final Usage Fields Missing&quot; list.</description>
        <name>IsNoItemsTrue</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!OTCI0147_Fields_Validation.output_finalUsagesMissingFields}, {!literal_NoItems}), true, false)</expression>
    </formulas>
    <formulas>
        <name>IsResponseStatusError</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!OTCI0147_Perform_Callout_ITC3.ResponseStatus} = &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>GC 10/13/23: If &quot;Invoice_Finalized__c&quot; equals true, the Status equals &quot;Sent to SAP&quot;. If false, the Status equals &quot;Sent to SAP (Not Billed)&quot;</description>
        <name>StatusForBilledOrNot</name>
        <dataType>String</dataType>
        <expression>IF({!recordId.Invoice_Finalized__c} = true, {!literal_SentToSAP}, {!literal_SentToSAPNotBilled})</expression>
    </formulas>
    <interviewLabel>OTCI0147 - Manage a Single SAP Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTCI0147 - Manage a Single SAP Invoice</label>
    <loops>
        <name>Final_Usages_Fix</name>
        <label>Final Usages Fix</label>
        <locationX>1458</locationX>
        <locationY>2738</locationY>
        <collectionReference>Get_Final_Usage_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>On_the_Error_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Fixed_Final_Usages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>GC 09/07/23: Get &quot;Billing Contact&quot; to verify the &quot;Bill To&quot; field.</description>
        <name>Get_Billing_Contact</name>
        <label>Get Billing Contact</label>
        <locationX>1485</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Billing_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Usage_Records</name>
        <label>Get Final Usage Records</label>
        <locationX>1485</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contracts_and_Invoices__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Final_Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GC 09/07/23: Salesforce requires this record to be queried to bring the data.</description>
        <name>Get_Project_Owner</name>
        <label>Get Project Owner</label>
        <locationX>1485</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OTCI0147_Fields_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>projectOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>1485</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>GC 09/07/23: Update the Contact related to the invoice to update the Bill To field.</description>
        <name>Update_Bill_To_on_Related_Contact</name>
        <label>Update Bill To on Related Contact</label>
        <locationX>1304</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Invoice_Date_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Billing_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>userInput_BillTo</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>GC 09/07/23: Update all fixed Final Usages, and return to the start to validate once again.</description>
        <name>Update_Fixed_Final_Usages</name>
        <label>Update Fixed Final Usages</label>
        <locationX>1458</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Clear_Fix_List</targetReference>
        </connector>
        <inputReference>toUpdate_FixedFinalUsages</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Amount</name>
        <label>Update Invoice Amount</label>
        <locationX>1304</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Bill_To_Updated</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Date</name>
        <label>Update Invoice Date</label>
        <locationX>1304</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Issues_with_Final_Usages</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GC 09/06/23: Automatically add missing system information and verify again missing values.</description>
        <name>Update_Invoice_Missing_System_Info</name>
        <label>Update Invoice Missing System Info.</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Final_Usage_Records</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GC 10/13/23: Update the invoice</description>
        <name>Update_Invoice_Status</name>
        <label>Update Invoice Status</label>
        <locationX>2162</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OTCI0147_Perform_Callout_ITC3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_error_txt_remediation1</name>
            <fieldText>&lt;p&gt;The invoice will be created with the following information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoiceId</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Invoice ID&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoiceid2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_accountName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_accountName2</name>
                    <fieldText>&lt;p&gt;{!Get_Project_Record.Account__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_accountNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Number:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_accountNumber2</name>
                    <fieldText>&lt;p&gt;{!recordId.Customer_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_projectId</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project ID:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_projectId2</name>
                    <fieldText>&lt;p&gt;{!Get_Project_Record.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_ownername</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Owner Name:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_ownername2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!projectOwnerName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoiceDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Invoice Date:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoiceDate2</name>
                    <fieldText>&lt;p&gt;{!recordId.Invoice_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_billto</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Bill To:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_billto2</name>
                    <fieldText>&lt;p&gt;{!recordId.Bill_To__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_purchaseorder</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Purchase Order:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_purchaseorder2</name>
                    <fieldText>&lt;p&gt;{!recordId.Purchase_Order__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_paramountinternal</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Paramount Internal:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_paramountinternal2</name>
                    <fieldText>&lt;p&gt;{!recordId.Paramount_Internal__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section9_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoicefinalized</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Invoice Finalized:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_invoicefinalized2</name>
                    <fieldText>&lt;p&gt;{!recordId.Invoice_Finalized__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section10_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_projectTitle</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project Title:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_projectTitle2</name>
                    <fieldText>&lt;p&gt;{!recordId.Project_Title__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section11_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_sourceboundarysystemcode</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Source Boundary System Code:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_sourceboundarysystemcode2</name>
                    <fieldText>&lt;p&gt;{!recordId.Source_Boundary_System_Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section12_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_taxapplicable</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Tax Applicable:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_taxapplicable2</name>
                    <fieldText>&lt;p&gt;{!recordId.Tax_Applicable__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section13_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_supressinvoice</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Supress Invoice:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screentxt_supressinvoice2</name>
                    <fieldText>&lt;p&gt;{!recordId.Supress_Invoice__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section14_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LineItemsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Final_Usage__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Final_Usage_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-96d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-a954&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fee Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fee_Notes__c&quot;,&quot;guid&quot;:&quot;column-6f13&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Fee Notes&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total_Revenue__c&quot;,&quot;guid&quot;:&quot;column-2287&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Revenue&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Collection_Type__c&quot;,&quot;guid&quot;:&quot;column-4170&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Collection Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Assignment__c&quot;,&quot;guid&quot;:&quot;column-b168&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Assignment #&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Service_Fee_Type__c&quot;,&quot;guid&quot;:&quot;column-7faa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Service Fee Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Currency_Code__c&quot;,&quot;guid&quot;:&quot;column-0217&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Currency Code&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screentxt_pressnexttosendinvoice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please click Next to send the invoice to SAP.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_No_Final_Usages</name>
        <label>End: No Final Usages</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Final_Usage_s_Missing_Fields</name>
            <fieldText>Final Usage(s) - Missing Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Final_Usage_s_Missing_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_error_txt_required_fields_finalusages1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The selected Invoice doesn&apos;t have any Final Usage (Line Items) records related to it. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please go back and relate the invoice to at least one (1) Final Usage record before attempting to send it to SAP.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsNoItemsTrue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsNoItemsTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>2074</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finish_success_screentxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt; The invoice has been sent to SAP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsResponseStatusError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>finish_error_screentxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error has occurred. &lt;/strong&gt;Please verify the following information with your  Salesforce administrator, or try again later.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Boundary system response:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Code: &lt;/strong&gt;{!OTCI0147_Perform_Callout_ITC3.ResponseCode}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status: &lt;/strong&gt;{!OTCI0147_Perform_Callout_ITC3.ResponseStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsResponseStatusError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Usages_Remediation_Screen</name>
        <label>Final Usages Remediation Screen</label>
        <locationX>1546</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Total_Revenue_Value</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_error_txt_remediation1</name>
            <fieldText>&lt;p&gt;There are &lt;strong&gt;{!count_FinalUsagesWithError} Final Usages&lt;/strong&gt; with missing fields. Please fill the missing information before we can send the invoice to SAP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Final_Usage_s_Missing_Fields</name>
            <fieldText>Final Usage(s) - Missing Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Final_Usage_s_Missing_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen_txt_current_final_usage_info</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Item {!count_CurrentIteration} out of {!count_FinalUsagesWithError}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Current Final Usage Record: {!Final_Usages_Fix.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_error_txt_required_fields_finalusages2</name>
                    <fieldText>&lt;p&gt;The following fields must have values:&lt;/p&gt;&lt;p&gt;{!OTCI0147_Fields_Validation.output_finalUsagesMissingFields}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesMissingFields</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IsNoItemsTrue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Final_Usages_Fix.Fee_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Final_Usages_Fix.Currency_Code__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Total_Revenue</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Final_Usages_Fix.Total_Revenue__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTCI0147_Fields_Validation.output_finalUsagesMissingFields</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Remediation_Screen</name>
        <label>Invoice Remediation Screen</label>
        <locationX>1436</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invoice_Amount_Updated</targetReference>
        </connector>
        <fields>
            <name>error_txt_remediation1</name>
            <fieldText>&lt;p&gt;The following fields are missing information. Please fill the required information before we can send the invoice to SAP.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Missing_Fields</name>
            <fieldText>Invoice - Missing Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invoice_Missing_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>error_txt_required_fields_invoice1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Bill To&lt;/strong&gt; is mandatory.&lt;strong&gt; &lt;/strong&gt;Please input the Bill To information on the related Billing Contact:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>literal_BillTo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>userInput_BillTo</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>literal_BillTo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>error_txt_required_fields_invoice2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Invoice Date&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is mandatory. Please provide the required information:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>literal_InvoiceDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>userInput_InvoiceDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date must be today or greater than today.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!userInput_InvoiceDate} &gt;= TODAY()</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>literal_InvoiceDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>error_txt_required_fields_invoice3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Invoice Amount&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; is mandatory. Please provide the required information:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Invoice_Amount__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>userInput_InvoiceAmount</name>
                    <dataType>Number</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Invoice_Amount__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTCI0147_Fields_Validation.output_invoiceMissingFields</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Missing_Fields</name>
            <fieldText>Project - Missing Fields</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Missing_Fields_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>error_txt_required_fields_project_placeholder</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 238); font-size: 14px;&quot;&gt;--- Placeholder, please replace later. ---&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OTCI0147_Fields_Validation.output_projectMissingFields</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Cancelled</name>
        <label>Status Cancelled</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_error_txt_1</name>
            <fieldText>&lt;p&gt;This record has been cancelled.&lt;/p&gt;&lt;p&gt;Please select a different invoice.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Sent_to_SAP</name>
        <label>Status Sent to SAP</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_txt_1</name>
            <fieldText>&lt;p&gt;This record has already been sent to SAP. &lt;/p&gt;&lt;p&gt;Please select a different invoice.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>641</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_equals_a_Finished_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>GC 09/06/23: Call the subflow to verify if there are any missing fields.</description>
        <name>OTCI0147_Fields_Validation</name>
        <label>OTCI0147 - Fields Validation</label>
        <locationX>1485</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Any_Required_Field_Missing</targetReference>
        </connector>
        <flowName>OTCI0147_Fields_Validation</flowName>
        <inputAssignments>
            <name>input_BillingContact</name>
            <value>
                <elementReference>Get_Billing_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FinalUsagesRecords</name>
            <value>
                <elementReference>Get_Final_Usage_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_InvoiceRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Project</name>
            <value>
                <elementReference>Get_Project_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>GC 10/17/23: Perform the callout to CM using the ITC3 OpenAPI Specification.</description>
        <name>OTCI0147_Perform_Callout_ITC3</name>
        <label>OTCI0147 - Perform Callout ITC3</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Response_with_Error</targetReference>
        </connector>
        <flowName>OTCI0147_Perform_Callout_ITC3</flowName>
        <inputAssignments>
            <name>input_BillingContact</name>
            <value>
                <elementReference>Get_Billing_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ContractAndInvoiceRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ProjectOwnerName</name>
            <value>
                <elementReference>projectOwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_RelatedFinalUsages</name>
            <value>
                <elementReference>Get_Final_Usage_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_RelatedProjectRecord</name>
            <value>
                <elementReference>Get_Project_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>GC 09/07/23: To count the current iteration.</description>
        <name>count_CurrentIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>GC 08/16/23: Count the number of found Final_Usage__c records with empty required fields.</description>
        <name>count_FinalUsages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Count the number of Final Usages with an error. The only purpose is to show the user the number of records with errors.</description>
        <name>count_FinalUsagesWithError</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>GC 09/01/23: Count the number of invoices to process.</description>
        <name>count_Invoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_BillTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bill_To__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_CurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Currency_Code__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_FeeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fee_Type__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_InvoiceDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Invoice_Date__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_NoItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Items</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_Salesforce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_SentToSAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sent to SAP</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_SentToSAPNotBilled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sent to SAP (Not Billed)</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_SourceBoundarySystemCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Source_Boundary_System_Code__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Never use hard coded values. Ever.</description>
        <name>literal_TotalRevenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Total_Revenue__c</stringValue>
        </value>
    </variables>
    <variables>
        <description>GC 09/07/23: Store the Project Owner&apos;s Name. Since it is a related field, Salesforce is not saving it when passing the related information to the callout.</description>
        <name>projectOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <description>GC 09/07/23: Update all fixed Final Usage records.</description>
        <name>toUpdate_FixedFinalUsages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
</Flow>
