force-app/main/default/flows/OTCI0147_Perform_Callout_ITC3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>GC 10/26/23: Send the request with the Invoice information to SAP. Uses the latest OpenAPI Specification shared by the Deloitte team.</description>
        <name>Post_Request_OTCI0147_ITC3V2</name>
        <label>Post Request OTCI0147 ITC3V2</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <actionName>OTCI0147ITC3V2.postSalesforceARDocument</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Platform_Event_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Invoice_ITC3V2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OTCI0147ITC3V2.postSalesforceARDocument</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>GC 10/17/23: Add the built Usage to the Collection.</description>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UsagesCollection_Request_ITC3V2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Usage_Request_ITC3V2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Final_Usages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_200</name>
        <label>Assign 200</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147_ITC3V2.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147_ITC3V2.200.errorDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X200_with_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_400</name>
        <label>Assign 400</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147_ITC3V2.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147_ITC3V2.400Exc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Platform_Event_Log_From_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_401</name>
        <label>Assign 401</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Request_OTCI0147_ITC3V2.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unauthorized</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Platform_Event_Log_From_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 10/26/23: Assign Faulty Path for whenever there is an unidentified issue.</description>
        <name>Assign_Faulty_Path</name>
        <label>Assign Faulty Path</label>
        <locationX>1194</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ResponseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error on the request or response, entered to the faulty path. Check logs.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign all values to complete the request.</description>
        <name>Complete_Request</name>
        <label>Complete Request</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Invoice_ITC3V2.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_ITC3V2.contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Request_ITC3V2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_ITC3V2.project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Request_ITC3V2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Invoice_ITC3V2.usage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsagesCollection_Request_ITC3V2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Request_OTCI0147_ITC3V2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 10/16/23: Assign request values for the contract object.</description>
        <name>Contract_Data_Info</name>
        <label>Contract Data Info</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.invoiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_invoiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.billTo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_BillingContact.Bill_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.purchaseOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.paramountInternal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ParamountInternalCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.invoiceFinalized</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceFinalized_Transform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.projectTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Project_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.sourceBoundarySystemCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Source_Boundary_System_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.taxApplicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taxApplicable_Transform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Request_ITC3V2.supressInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supressInvoice_Transform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 10/17/23: Formulas can&apos;t use values from loops, so we must assign values to variables and use these on formulas instead.</description>
        <name>Fill_Variables</name>
        <label>Fill Variables</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Usage_totalRevenue_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Total_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_airDate_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Airdate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usage_Data_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 10/16/23: Assign request values for the project object.</description>
        <name>Project_Data_Info</name>
        <label>Project Data Info</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Project_Request_ITC3V2.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedProjectRecord.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request_ITC3V2.accountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ContractAndInvoiceRecord.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request_ITC3V2.projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_RelatedProjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Request_ITC3V2.ownerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ProjectOwnerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Final_Usages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GC 07/24/23: Assign request values for the usage object.</description>
        <name>Usage_Data_Info</name>
        <label>Usage Data Info</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.feeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Fee_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.feeNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Fee_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.totalRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usage_totalRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.broadcastCodeShow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Broadcast_Code_Show__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.serviceFeeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Service_Fee_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.currencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Currency_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Usage_Request_ITC3V2.usageSalesforceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Final_Usages.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response</name>
        <label>Response?</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X200_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147_ITC3V2.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_200</targetReference>
            </connector>
            <label>200 OK</label>
        </rules>
        <rules>
            <name>X400_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147_ITC3V2.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_400</targetReference>
            </connector>
            <label>400 Error</label>
        </rules>
        <rules>
            <name>X401_Unauthorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Request_OTCI0147_ITC3V2.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>401.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_401</targetReference>
            </connector>
            <label>401 Unauthorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>X200_with_Error</name>
        <label>200 with Error?</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>LOG_SUCCESS_JUST_FOR_DEBUG_DELETE_ME_PLS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Platform_Event_Log_From_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <description>GC 10/26/23: Changing to the OTCI0147V2 External Service since the SAP team changed the OpenAPI Spec.
GC 10/16/23: Makes the callout to the external system OTCI0147. Corresponds to ITC3.</description>
    <environments>Default</environments>
    <formulas>
        <name>Contract_invoiceDate</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!input_ContractAndInvoiceRecord.Invoice_Date__c}),ISBLANK({!input_ContractAndInvoiceRecord.Invoice_Date__c})), 
null,
IF(MONTH({!input_ContractAndInvoiceRecord.Invoice_Date__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(MONTH({!input_ContractAndInvoiceRecord.Invoice_Date__c})) &amp; &apos;/&apos; &amp;
IF(DAY({!input_ContractAndInvoiceRecord.Invoice_Date__c})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(DAY({!input_ContractAndInvoiceRecord.Invoice_Date__c})) &amp; &apos;/&apos; &amp;
TEXT(YEAR({!input_ContractAndInvoiceRecord.Invoice_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>input_ParamountInternalCheckbox</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Paramount_Internal__c} = true, &apos;Y&apos;, &apos;N&apos;)</expression>
    </formulas>
    <formulas>
        <description>GC 08/10/23: Transforms InvoiceFinalized from true to &quot;Y&quot; and from false to &quot;N&quot;.</description>
        <name>invoiceFinalized_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Invoice_Finalized__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>paramountInternal_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Paramount_Internal__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <description>GC 09/06/23: Cut the string in 255 chars, otherwise the flow throws an exception.</description>
        <name>ResponseStatus_255</name>
        <dataType>String</dataType>
        <expression>LEFT({!ResponseStatus}, 255)</expression>
    </formulas>
    <formulas>
        <name>supressInvoice_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Supress_Invoice__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>taxApplicable_Transform</name>
        <dataType>String</dataType>
        <expression>IF({!input_ContractAndInvoiceRecord.Tax_Applicable__c} == true, &quot;Y&quot;, &quot;N&quot;)</expression>
    </formulas>
    <formulas>
        <name>Usage_airDate</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!Usage_airDate_Var}),ISBLANK({!Usage_airDate_Var})), 
null,
IF(MONTH({!Usage_airDate_Var})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(MONTH({!Usage_airDate_Var})) &amp; &apos;/&apos; &amp;
IF(DAY({!Usage_airDate_Var})&lt;10,&apos;0&apos;,&apos;&apos;) &amp; TEXT(DAY({!Usage_airDate_Var})) &amp; &apos;/&apos; &amp;
TEXT(YEAR({!Usage_airDate_Var})))</expression>
    </formulas>
    <formulas>
        <name>Usage_totalRevenue</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISNULL({!Usage_totalRevenue_Var}),ISBLANK({!Usage_totalRevenue_Var})), null, TEXT({!Usage_totalRevenue_Var}))</expression>
    </formulas>
    <interviewLabel>OTCI0147 - Perform Callout ITC3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OTCI0147 - Perform Callout ITC3</label>
    <loops>
        <description>GC 10/16/23: Loop through all the input related final usages.</description>
        <name>Related_Final_Usages</name>
        <label>Related Final Usages</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <collectionReference>input_RelatedFinalUsages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contract_Data_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>GC 10/17/23: Publish the event log to create a log record.</description>
        <name>LOG_SUCCESS_JUST_FOR_DEBUG_DELETE_ME_PLS</name>
        <label>LOG SUCCESS JUST FOR DEBUG DELETE ME PLS</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <elementReference>ResponseStatus_255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <elementReference>ResponseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_ID__c</field>
            <value>
                <elementReference>Invoice_ITC3V2.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GC 10/17/23: Publish the event log to create a log record.</description>
        <name>Publish_Platform_Event_Log</name>
        <label>Publish Platform Event Log</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assign_Faulty_Path</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <stringValue>Faulty Path</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <stringValue>Not Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_ID__c</field>
            <value>
                <elementReference>Invoice_ITC3V2.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>GC 10/17/23: Publish the event log to create a log record.</description>
        <name>Publish_Platform_Event_Log_From_Error</name>
        <label>Publish Platform Event Log From Error</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <inputAssignments>
            <field>Error_Description__c</field>
            <value>
                <elementReference>ResponseStatus_255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Type__c</field>
            <value>
                <elementReference>ResponseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration__c</field>
            <value>
                <stringValue>OTCI0147</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_ID__c</field>
            <value>
                <elementReference>Invoice_ITC3V2.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>RequestStringFormat</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Data_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RequestStringFormat</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Invoice_ITC3V2}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>GC 10/26/23: Holds the object &quot;Contract&quot; for the OTCI0147 request. ITC3 OpenAPI Specification.</description>
        <name>Contract_Request_ITC3V2</name>
        <apexClass>ExternalService__OTCI0147ITC3V2_Contract</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 09/07/23: Input the Billing Contact related to that invoice.</description>
        <name>input_BillingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>input_ContractAndInvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contracts_and_Invoices__c</objectType>
    </variables>
    <variables>
        <name>input_ProjectOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 09/01/23: Also known as Line Items. Input this information to perform the callout.</description>
        <name>input_RelatedFinalUsages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Final_Usage__c</objectType>
    </variables>
    <variables>
        <description>GC 09/01/23: Project record related to the invoice.</description>
        <name>input_RelatedProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <description>GC 10/26/23: Holds the entire body for the OTCI0147 request. ITC3 OpenAPI Specification.</description>
        <name>Invoice_ITC3V2</name>
        <apexClass>ExternalService__OTCI0147ITC3V2_Invoice</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Holds the object &quot;Project&quot; for the OTCI0147 request. ITC3 OpenAPI Specification.</description>
        <name>Project_Request_ITC3V2</name>
        <apexClass>ExternalService__OTCI0147ITC3V2_Project</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Airdate__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_airDate_Var</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Collection_Type__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_collectionType_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Episode_Segment_Title__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_episodeSegmentTitle_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Fee_Notes__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_feeNotes_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Holds the object &quot;Contract&quot; for the OTCI0147 request. ITC3 OpenAPI Specification.</description>
        <name>Usage_Request_ITC3V2</name>
        <apexClass>ExternalService__OTCI0147ITC3V2_Usage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Service_Fee_Type__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_serviceFeeType_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GC 10/16/23: Save the value of the Total_Revenue__c to use in the formula. This has to be done until CM can receive null values from Salesforce.</description>
        <name>Usage_totalRevenue_Var</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>GC 10/26/23: Holds the array of &quot;Usages&quot; object for the OTCI0147 request. ITC3 OpenAPI Specification.</description>
        <name>UsagesCollection_Request_ITC3V2</name>
        <apexClass>ExternalService__OTCI0147ITC3V2_Usage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
